*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#4230a9,#90bafc);
    color: #fff;
    padding: 10px;
}

.caculator{
    width: 100%;    
    max-width: 600px;
    margin-left: 10%;
    margin-top: 5%;

}
.caculator h1{
    font-size: 60px;
}
.caculator h1 span{
    color: #fff76f;
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.774);
    display: flex;
    align-items: center;

}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
   border: 0;
   outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    
    
    

} 
.input-box button{
    background-color: #fff76f;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    color: #333;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.input-box input::-webkit-calendar-picker-indicator{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    background-size: 30px;
    cursor: pointer;
    background-position: calc(100% - 10px);
}

#result{
    font-size: 30px;
}
#result span{
    color: #fff76f;
}
