@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Merriweather", serif;
}

html, body{
  width: 100%;
  height: 100%;
}
body{
    background-color: #bbc6fa;
}
.Quote-box{
    background-color: #fff;
    width: 700px;
   
    position:absolute;
    top:20%;
    left: 20%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.15);
}

.Quote-box h2{
    font-size:32px ;
    margin-bottom: 40px;
    position: relative;
}
.Quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50px);
}
.Quote-box blockquote{
    min-height: 110px;
    font-size: 26px;
}
.Quote-box blockquote::before, .Quote-box blockquote::after{
    content: '"';
}
.Quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.Quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: rgb(23,124,229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.Quote-box div{
width: 100%;
margin-top: 40px;
display: flex;
justify-content: center;
}
.Quote-box button{
background-color: rgb(23,124,229);
color: #fff;
border-radius:25px ;
border:  1px solid rgb(23,124,229);
width: 150px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 5px;
cursor: pointer;
font-size: 18px;
}

.Quote-box button img{
width: 20px;
margin-right: 10px;


}

.Quote-box button:nth-child(2){
    background-color: transparent;
    color: #333;
}
